@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title" ng-bind="title"></h4>
    </div>
    <div class="panel-body">
        <div class="pull-left">
            <button type="button" class="btn btn-success" ng-click="unlockUser()"><span class="glyphicon glyphicon-ok"></span>解锁</button>
        </div>
        <div class="pull-right padding-right100">
            <label>用户ID:</label><input type="text" class="form-control inline-control " ng-model="userID_Search">
            <label>Email:</label><input type="text" class="form-control inline-control " ng-model="email_Search">
            <button type="button" class="btn btn-success" ng-click="search()"><span class="glyphicon glyphicon-search"></span>搜索</button>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>昵称</th>
                <th>Vip等级</th>
                <th>Email</th>
                <th>手机</th>
                <th>剩余积分</th>
                <th>已使用积分</th>
                <th>注册时间</th>
                <th>最后登录时间</th>
            </tr>
        </thead>
        <tbody ng-show="users">
            <tr ng-repeat="user in users">
                <td><input type="checkbox" ng-model="user.Checked" ng-change="checkedChange(user)"></td>
                <td><span ng-class="{'glyphicon glyphicon-lock':user.IsLocked}"></span><span ng-bind="user.ID"></span></td>
                <td ng-bind="user.NickName"></td>
                <td ng-bind="'Vip'+user.VipLevel"></td>
                <td ng-bind="user.Email"></td>
                <td ng-bind="user.Mobile"></td>
                <td ng-bind="user.ScoreBalance"></td>
                <td ng-bind="user.ScoreUsed"></td>
                <td ng-bind="user.CreateAt*1000 | date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td ng-bind="user.LastPasswordVerifyAt*1000 | date:'yyyy-MM-dd HH:mm:ss'"></td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="totalCount" page="currentPage" first-text="首页" on-select-page="pageChange(page)" next-text="下一页" previous-text="上一页" last-text="尾页" max-size="10" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    <pre>共{{totalCount}}条数据  第{{currentPage}}页 /共{{numPages}}页</pre>
</div>
<div>
    <script type="text/ng-template" id="lockUserModalContent.html">
        <div class="modal-header">
            <h3 ng-bind="title"></h3>
        </div>
        <div class="modal-body">
            <form name="lockForm" role="form">
                <div class="form-group">
                    <label>原因</label>
                    <textarea rows="3" ng-trim="true" class="form-control" required ng-model="reason"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    <button class="btn btn-primary" ng-click="save(reason)">保存</button>
                </div>
             </form>
        </div>
    </script>
</div>
