@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title" ng-bind="title"></h4>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-danger" ng-click="remove()"><span class="glyphicon glyphicon-remove"></span>删除</button>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>  
                <th>管理角色</th>
                <th>昵称</th>
                <th>Email</th>
                <th>手机</th>
                <th>角色分配日期</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="manager in managers">
                <td><input type="checkbox" ng-model="manager.Checked" ng-change="checkedChange(manager)"></td>
                <td><span ng-bind="manager.ID"></span></td>  
                <td ng-bind="manager.ManagerType"></td>
                <td ng-bind="manager.NickName"></td>
                <td ng-bind="manager.Email"></td>
                <td ng-bind="manager.Mobile"></td>
                <td ng-bind="manager.CreateAt*1000 | date:'yyyy-MM-dd HH:mm:ss'"></td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="totalCount" page="currentPage" first-text="首页" on-select-page="pageChange(page)" next-text="下一页" previous-text="上一页" last-text="尾页" max-size="10" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    <pre>共{{totalCount}}条数据  第{{currentPage}}页 /共{{numPages}}页</pre>
</div>

