@using FC.Framework
@section _banner{
    @Html.Partial("_banner")
}
<div class="market_title">
    <div class="news">
        <img src="@ViewBag.CDN/Content/Images/help.png" style="margin: 22px 0 0 180px; " />
    </div>
</div>
<div class="soonOpen">
    <div class="soonOpen_img">
        即将开启 敬请期待
    </div>
</div>