@using FC.Framework
<div class="in_right">
    <div class="indexnew_title indexnew_ico2">
        <a class="more" href="/news-1/p1" title="more...">more...</a>新闻资讯
    </div>
    <div class="indexnew_con">
        <ul>
            @foreach (var article in (IEnumerable<DotPay.ViewModel.ArticleInListModel>)ViewBag.Articles)
            {
                <li><span>[@article.CreateAt.ToLocalDateTime().ToString("yyyy-MM-dd")]</span><a href="/news-@article.Category.ToString("D")-@article.ID">@article.Title</a></li>
            } 
        </ul>
    </div>
</div>
