@model DotPay.ViewModel.LoginModel
<div class="reg_l reg_r">
    @using (Ajax.BeginForm("Login", "Home", new AjaxOptions { HttpMethod = "Post", OnSuccess = "innerLoginSuccess" }))
    {
        @Html.AntiForgeryToken()
        <h3>已有账号，立即登录</h3>
        <ul>
            <li>
                <input name="Email" autocomplete="off" type="text" id="login_email" class="text" value="请输入您的邮箱地址" onfocus="if (this.value == '请输入您的邮箱地址') { this.value = ''; }" onblur="    if (this.value == '') { this.value = '请输入您的邮箱地址'; }" />
            </li>
            <li>
                <input name="Password" type="password" id="login_password" class="text" placeholder="请输入密码" />
            </li>
            <li>
                <div id="loginerr">@ViewBag.ErroeMessage</div>
            </li>
            <li>
                <input name="" type="submit" onclick="return loginSubmit()" value="登录" class="submit" />
            </li>
        </ul>
    }
    <div id="dlfs">
        使用其他快捷登录方式<img src="/content/images/dlfs_con.jpg" usemap="#InnerMap" border="0" />
        <map name="InnerMap" id="InnerMap">
            <area alt="QQ登录" shape="circle" href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101081985&redirect_uri=http://www.fullcoin.com/qqlogin&state=fc&scope=get_user_info" coords="15,15,16" />
            <area alt="微博登录" shape="circle" href="https://api.weibo.com:443/oauth2/authorize?client_id=156073260&redirect_uri=http%3A%2F%2Fwww.fullcoin.com%2Fweibologin&response_type=code&display=default" coords="55,15,16" />
        </map>
    </div>
</div>
<script type="text/javascript">

    function innerLoginSuccess(data) {
        if (data.Code == -1)
            $("#loginerr").text(MSG_InvalidEmail);
        else if (data.Code == -3 && data.ErrorNum > 0)
            $("#loginerr").text(MSG_UserAccountOrPasswordError + data.ErrorNum + MSG_Times);
        else if (data.Code == -5)
            $("#loginerr").text(MSG_LoginTooOften);
        else if (data.Code >= 1)
            window.location.href = "/Index";

        $("#loginerr").addClass("errmsg");
    }
    function loginSubmit() {
        var reg = /^[\w-]+(\.[\w-]+)*@@[\w-]+(\.[a-zA-Z]{2,6})+$/;
        var email = $('#login_email').val().trim();
        if (!reg.test(email)) {
            $("#loginerr").text(MSG_InvalidEmail);
        }
        else if ($("#login_password").val().length < 6) {
            $("#loginerr").text(MSG_InvalidPasswordMinLength);
        }
        else {
            return true;
        }

        $("#loginerr").addClass("errmsg");
        return false;
    }
</script>