<div class="container dotpay-aboutus">
    <div class="col-sm-10 col-sm-offset-1">
        <h2 class="title-1 text-center text-info">关于我们</h2>
        <p style="text-indent:2em;line-height:2em">
            点付科技前身为瑞波币中国（www.xrpchina.net),成立于2013年5月。为了能让瑞波协议适用于个人，商户和企业级用户，我们于2014年9月创办了点付科技。
        </p>
    </div>
</div>