<div class="container dotpay-aboutus">
    <div class="col-sm-10 col-sm-offset-1">
        <h2 class="title-1 text-center text-info">关于我们</h2>
        <p style="text-indent:2em;line-height:2em">
            上海币福网络科技有限公司是一个富有朝气的技术型创业公司，公司致力于打造最专业的去中心化虚拟数字货币交易平台。我们认为以比特币为代表的各种数字型虚拟币作为一种实验型的货币，基于“收敛性增发，最终总量恒定”的核心思想，打破了我们原有对货币的认知，开创了一种全新的电子化货币理念，我们认为这种探索与实践是对人类社会进步有着非常重要的意义，为此我们打造了旨在提升虚拟数字货币整体形象、规范虚拟数字货币交易、满足各类人群投资虚拟数字货币需求的多币种虚拟数字货币交易平台“聚宝盆”(www.fullcoin.com)。
        </p>
        <p style="text-indent:2em;line-height:2em">
            基于对此的共同认知，来自于国内外著名IT及金融企业、均有超过5年以上的研发或管理经验的聚宝盆团队核心成员聚集到了一起，身处移动互联网及互联网金融发展热潮的大背景下，基于领先的去中心化解决方案、专注的服务方向、专业的研发能力以及多方的发展资源和热情的服务理念，聚宝盆人将会共同努力为聚宝盆的快速发展打下了坚实的基础，同时更为中国的虚拟数字货币行业发展做出自己的贡献。
        </p>
    </div>

</div>