<div id="ifcbanner" class="ifcBanner">
    <div id="in_ban">
        <ul>
            <li>
                <img src="@ViewBag.CDN/Content/Images/ifc-banner.png" />
            </li>
            <li>
                <img src="@ViewBag.CDN/Content/Images/ifc-android-wallet.png" />
            </li>
            <li>
                <img src="@ViewBag.CDN/Content/Images/ifc-chat.png" />
            </li>
        </ul>
    </div>
    <a class="prev leftArrow" href="###"></a>
    <a class="next rightArrow" href="###"></a>
</div>
<div class="ifc_middle">
    <div class="ifc_nav">
        <ul class="clearfix">
            <li>
                <h2>挖矿指南</h2>
                <a href="http://www.infinitecoin.com/cn/ifc-mining-guide"><img src="/Content/Images/ifc_midico1.jpg" /></a>
                <p>采矿须知。矿机设置说明以及你可能遇到的技术问题。</p>
            </li>
            <li>
                <h2>下载钱包<span>(2.0钱包即将发布) </span></h2>
                <a href="http://www.infinitecoin.com/cn/ifc-wallet-download.html"><img src="/Content/Images/ifc_midico2.jpg" /></a>
                <p>IFC钱包允许您接受或是发送IFC。请确保您的钱包客户端是最新版本，并且每次及时备份。代码源上传在GitHub网站。</p>
            </li>
            <li>
                <h2>官方论坛</h2>
                <a href="http://infinitecointalk.org/"><img src="/Content/Images/ifc_midico3.jpg" /></a>
                <p>浏览IFC论坛，紧跟IFC的最新消息，项目发展，金融，市场，一般性谈话，以及其他更多内容。</p>
            </li>
        </ul>
    </div>
    <div class="ifc_about">
        <div class="ifc_aboutl">
            <h3>关于IFC</h3>
            <p>
                IFC开发于2013年6月。是目前交易确认速度最快，拥有硬币数量最多的币种
                之一IFC货币的广泛分布是IFC依然十分强劲的原因之一。凭借全球广泛的分布、超
                快的交易确认时间和优秀的流通循环量的特点，IFC能够击败现在排名前5的某些币种
                IFC有广阔的发展空间。
            </p>
            <p>请加入我们。IFC官网:www.infinitecoin.com</p>
        </div>
        <div class="ifc_jjh">
            <a href="http://www.ifc-cf.com" target="_blank">
                <img src="/Content/Images/jjhLogo.jpg" />
            </a>
            <p><a href="http://www.ifc-cf.com" target="_blank">WWW.IFC-CF.COM</a></p>
        </div>
        <div class="ifc_gold1"></div>
    </div>
    <div class="ifc_tip">
        <ul>
            <li class="ifc_tip_ico1">
                <h3>超前监测节点</h3>
                <p>我们的超前监测节点系统能够限制51%攻击</p>
                <p>并且能够使网络恢复更快更简单</p>
            </li>
            <li class="ifc_tip_ico2">
                <h3>警告消息系统</h3>
                <p>如果检测到攻击，客户端会显示一个警告提示</p>
                <p>消息让用户能够推迟交易，直到网络安全为止</p>
            </li>
            <li class="ifc_tip_ico3">
                <h3>定期检测节点指定</h3>
                <p>块链将会被开发者定期检测，检测节点也会</p>
                <p>也会被定期指定，这些会帮助我们保证网络安全</p>
            </li>
            <li class="ifc_tip_ico4">
                <h3>交易</h3>
                <p>100IFC以下的交易将会收取200IFC费用</p>
                <p>10000IFC以下的交易会收取100IFC费用</p>
            </li>
        </ul>
        <div class="ifc_gold2"></div>
    </div>
    <div class="ifc_link">
        <div class="ifclink1">
            <img src="/Content/Images/ifc_play.jpg" />
        </div>
        <div class="ifclink2">
            <p>中国无限币基金会群:204539334</p>
            <p>中国无限币IFC联盟总群:177939181</p>
            <a href="https://www.facebook.com/IFCInfinitecoin"><img src="/Content/Images/ifc_link1.jpg" /></a>
            <a href="https://twitter.com/Infinitecoin_US"><img src="/Content/Images/ifc_link2.jpg" /></a>
            <a href="https://plus.google.com/116740958826606369491/posts"><img src="/Content/Images/ifc_link3.jpg" /></a>
            <a href="http://instagram.com/infinitecoins"><img src="/Content/Images/ifc_link4.jpg" /></a>
        </div>
    </div>
    <script> 
        $("#ifcbanner").slide({ mainCell: "#in_ban ul",  autoPlay: true });
    </script>
</div>