@using DotPay.Language

<link href="~/public/css/reg.css" rel="stylesheet" />
<div id="main" class="container">
    <div class="row register">
        <div class="col-sm-10 col-sm-offset-1   ptl-5">
            <div class="steps">
                <ol>
                    <li class="active"><i>1</i><span class="tsl" data-phase-id="r_p_createAccount">验证登录名</span></li>
                    <li><i>2</i><span class="tsl" data-phase-id="r_p_fillUserInfo">填写账户信息</span></li>
                    <li><i class="glyphicon glyphicon-ok"></i><span class="tsl" data-phase-id="r_p_regSuc">注册成功</span></li>
                </ol>
            </div>
        </div>
        <div id="register-success" class="col-sm-8 col-sm-offset-2 ptl-5 hidden">
            <div class="result-message">
                <p id="result-msg"></p>
                <p>Please check your email to continue register</p>
            </div>
        </div>
        <div id="registerPanel" class="col-sm-8 col-sm-offset-2 ptl-5">
            <div class="fail box" id="failBox" style="display:none;">
                <img src="@ViewBag.CDN/public/images/error.png" alt="Error!" class="left 2x" width="24"><span id="spanFailBox"></span>
            </div>
            <form id="preregisterForm" class="form-horizontal">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="preregister_email" class="col-sm-2 col-sm-offset-2 control-label">电子邮箱</label>
                    <div class="col-sm-6">
                        <input type="text" id="preregister_email" autocomplete="off" placeholder="请输入邮箱地址" name="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-offset-2 control-label" for="preregister_captcha">验证码</label>
                    <div class="col-sm-3">
                        <input type="text" autocomplete="off" id="preregister_captcha" name="captcha" class="form-control">
                    </div>
                    <div id="captchaPanel" class="col-sm-3 hidden">
                        <img id="captchaImg" src="" /><a href="#" class="captcha-refresh" id="btn_refresh_captcha"><span class="glyphicon glyphicon-repeat"></span></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-sm-offset-4 teamservice"><input type="checkbox" id="chk_agreement" class="agree" /> 同意 <a>《点付协议》</a></label>
                </div>
                <div class="form-group">
                    <div class="col-sm-3  col-sm-offset-4">
                        <button type="submit" id="preregister-btn" class="btn btn-primary btn-large btn-block disabled">下一步</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#preregister_captcha").focus(function () {
            if ($("#captchaPanel").is(":hidden")) {
                $("#captchaImg").attr("src", "cci?type=1&v=" + Math.random());
                $("#captchaPanel").removeClass("hidden");
            }
        });

        $("#btn_refresh_captcha").click(function () {
            $("#captchaImg").attr("src", "cci?type=1&v=" + Math.random());
        });

        $("#chk_agreement").click(function () {
            if ($(this).is(':checked'))
                $("#preregister-btn").removeClass("disabled");
            else
                $("#preregister-btn").addClass("disabled");
        });

        $('#preregisterForm').bootstrapValidator({
            message: '请输入合法的值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-repeat'
            },
            trigger: 'cut paste blur',
            fields: {
                email: {
                    validators: {
                        notEmpty: {
                            message: '邮箱地址不能为空!'
                        },
                        emailAddress: {
                            message: '请输入一个正确的邮箱地址'
                        },
                        remote: {
                            url: '/validateEmail',
                            type: "post",
                            data: { "__RequestVerificationToken": $("input[name='__RequestVerificationToken']").val() },
                            delay: 1000
                        }
                    }
                },
                captcha: {
                    validators: {
                        notEmpty: {
                            message: '请输入验证码!'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
            e.preventDefault();
            var $form = $(e.target);

            $.ajax({
                type: 'POST',
                url: '/preregister',
                data: $form.serialize(), //+ "&address=" + wallet.address + "&secret=" + secret_encypt,
                success: function (data) {
                    if (data.Code == 1) {
                        $("#registerPanel").hide();
                        $("#result-msg").text(data.Message);
                        $("#register-success").removeClass("hidden")
                    } else {
                        $('#spanFailBox').html(data.Message);
                        $('#failBox').show();
                        $('html, body').animate({
                            scrollTop: $("#failBox").offset().top - 95
                        }, 1000);
                    }
                },
                complete: function () {
                    $("#btn_refresh_captcha").click();
                }
            });
        }).on('error.validator.bv', function (e, data) {
            data.element
                .data('bv.messages')
                .find('.help-block[data-bv-for="' + data.field + '"]').hide()
                .filter('[data-bv-validator="' + data.validator + '"]').show();
        });

    });
</script>