
<h2>客服支持</h2>
<h3>如果您遇到问题，可通过以下方式联系我们</h3> 
<table> 
    <tr>
        <td>聚宝盆服务电话:</td>
        <td>400-055-0698</td>
    </tr>
    <tr>
        <td> 企业QQ:</td>
        <td><a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAwNDMxNV8xNjE3MzlfNDAwMDU1MDY5OF8yXw">4000550698</a></td>
    </tr>
    <tr>
        <td>管理员邮箱:</td>
        <td>webmaster@fullcoin.com</td>
    </tr>
    <tr>
        <td>技术支持邮箱:</td>
        <td>support@fullcoin.com</td>
    </tr> 
    <tr>
        <td>官方 QQ群:</td>
        <td>343163201</td>
    </tr>
    <tr>
        <td>NXT QQ群:</td>
        <td>219570801</td>
    </tr>
    <tr>
        <td>DOGE QQ群:</td>
        <td>239104204</td>
    </tr>
</table>
