@using Dotpay.Front.Controllers
@using Dotpay.Language
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content register-content" data-scrollview="true">
    <link href="~/assets/css/login.css" rel="stylesheet" />
    <div class="container fadeInDown contentAnimated" data-animation="true" data-animation-type="fadeInDown">
        <div class="row"> 
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <div class="modal-content register-wraper login-single-wraper">
                    <form class="form-horizontal register-form" data-parsley-validate="true" id="formForgetLoginPassword">
                        <div class="modal-header">
                            <h2 class="modal-title login-title">找回登陆密码<span class="blue">@Html.Lang("DotpayLogoTitle")</span></h2>
                        </div>
                        <div class="modal-body">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4" for="email">请输入您的注册邮箱 :</label>
                                <div class="col-md-8 col-sm-6">
                                    <input class="form-control" type="text" id="email" name="email" autocomplete="off" placeholder="请输入您的注册邮箱" />
                                </div>
                            </div>
                            <div id="resetMessage">&nbsp;</div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-12 col-sm-12 text-right">
                                <button type="submit" class="btn btn-sm btn-success col-md-offset-1">@Html.Lang("Submit")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $.getScript('/assets/js/forgetpassword.js').done(function () {
                        ForgetPassword.initForgetLoginPasswordForm(@Html.GetLang().ToString("D"));
                    });
                });
            </script>
        </div>
    </div>
</div>