@using Dotpay.Language
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content active-content" data-scrollview="true">
    <link href="~/assets/css/login.css" rel="stylesheet" />
    <div class="container fadeInDown contentAnimated" data-animation="true" data-animation-type="fadeInDown">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-2">
                @if (ViewBag.Valid)
                {
                    <h2 class="active-header">@Html.Lang("Login password reset success")<a href="/login">@Html.Lang("click here login")</a></h2>
                }
                else
                {
                    <h2 class="active-header">@Html.Lang("Invalid link")</h2>
                }
            </div>
        </div>
    </div>
</div>