@using FC.Framework
@using System.Collections.Generic
@using DotPay.ViewModel
<div class="news">
    <h1>
        @ViewBag.Article.Title
    </h1>
    <hr />
    <div class="content">@MvcHtmlString.Create(ViewBag.Article.Content)</div>
    <div class="des">
        <span class="date">@ViewBag.CreateAt</span>
    </div>
    <div class="clear"></div>
</div>