@{     
    Layout = null;
}
@using DotPay.Web.Admin;
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title" ng-bind="title"></h4>
    </div>
    <div class="panel-body">
        <div class="pull-left">
            <button type="button" class="btn btn-primary" ng-click="openAddModal()"><span class="glyphicon glyphicon-ban-plus"></span>添加</button>
            <button type="button" class="btn btn-danger" ng-click="disable()"><span class="glyphicon glyphicon-ban-circle"></span>禁用</button>
            <button type="button" class="btn btn-success" ng-click="enable()"><span class="glyphicon glyphicon-ok-circle"></span>启用</button>
        </div>
        <div class="pull-right padding-right100">
            <label>代码:</label><input type="text" class="form-control inline-control " ng-model="code_Search">
            <label>名称:</label><input type="text" class="form-control inline-control " ng-model="name_Search">
            <button type="button" class="btn btn-success" ng-click="search()"><span class="glyphicon glyphicon-search"></span>搜索</button>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>代码</th>
                <th>名称</th>
                <th>充值费率</th>
                <th>提现费率</th>
                <th>提现次限额</th>
                <th>提现日限额</th>
                <th>提现审核额度</th>
                <th>提现最低额度</th>
                <th>虚拟币最低确认次数</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="currency in currencies">
                <td><input type="checkbox" ng-model="currency.Checked" ng-change="checkedChange(currency)"></td>
                <td><span ng-class="{'glyphicon glyphicon-ban-circle':!currency.IsEnable}"></span><span ng-bind="currency.ID"></span></td>
                <td ng-bind="currency.Code"></td>
                <td ng-bind="currency.Name"></td>
                <td ng-bind="currency.DepositFixedFee+'/笔 '+currency.DepositFeeRate*100+'%'" ng-dblclick="changeDeposit(currency)"></td>
                <td ng-bind="currency.WithdrawFixedFee+'/笔 '+currency.WithdrawFeeRate*100+'%'" ng-dblclick="changeWithdraw(currency)"></td>
                <td ng-bind="currency.WithdrawOnceLimit.toFixed(2)" ng-dblclick="changeOnceLimit(currency)"></td>
                <td ng-bind="currency.WithdrawDayLimit.toFixed(2)" ng-dblclick="changeDayLimit(currency)"></td>
                <td ng-bind="currency.WithdrawVerifyLine.toFixed(2)" ng-dblclick="changeVerifyLine(currency)"></td>
                <td ng-bind="currency.WithdrawOnceMin.toFixed(4)" ng-dblclick="changeOnceMin(currency)"></td>       
                <td ng-bind="currency.NeedConfirm" ng-dblclick="changeNeedConfirm(currency)"></td>                
                <td ng-bind="currency.CreateAt*1000 | date:'yyyy-MM-dd'"></td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="totalCount" page="currentPage" first-text="首页" on-select-page="pageChange(page)" next-text="下一页" previous-text="上一页" last-text="尾页" max-size="10" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    <pre>共{{totalCount}}条数据  第{{currentPage}}页 /共{{numPages}}页</pre>
</div>

<div>
    <script type="text/ng-template" id="addCurrencyModalContent.html">
        <div class="modal-header">
            <h3>添加币种</h3>
        </div>
        <div class="modal-body">
            <form name="currencyForm" role="form">
                <table class="table-condensed" style="width: 95%">
                    <tr>
                        <td><label>币种代码</label></td>
                        <td>
                            <select class="form-control" ng-model="currencyType" ng-options="c.Key for c in currentTypes"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>名称</label>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="currency.Name"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    <button class="btn btn-primary" ng-click="add(currency,currencyType)">保存</button>
                </div>
            </form>
        </div>
    </script>


    <script type="text/ng-template" id="changeDepositModalContent.html">
        <div class="modal-header">
            <h3>充值费率修改</h3>
        </div>
        <div class="modal-body">
            <form name="currencyForm" role="form">
                <table class="table-condensed" style="width: 95%">
                    <tr>
                        <td><label>每笔固定费用</label></td>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="currency.DepositFixedFee"></td>
                    </tr>
                    <tr>
                        <td><label>充值费率</label>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="currency.DepositFeeRate"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    <button class="btn btn-primary" ng-click="change(currency)">保存</button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="changeWithdrawModalContent.html">
        <div class="modal-header">
            <h3>提现费率修改</h3>
        </div>
        <div class="modal-body">
            <form name="currencyForm" role="form">
                <table class="table-condensed" style="width: 95%">
                    <tr>
                        <td><label>每笔固定费用</label></td>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="currency.WithdrawFixedFee"></td>
                    </tr>
                    <tr>
                        <td><label>充值费率</label>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="currency.WithdrawFeeRate"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    <button class="btn btn-primary" ng-click="change(currency)">保存</button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="changeOnceLimitModalContent.html">
        <div class="modal-header">
            <h3>提现次限制</h3>
        </div>
        <div class="modal-body">
            <form name="currencyForm" role="form">
                <table class="table-condensed" style="width: 95%">
                    <tr>
                        <td><label>提现次</label>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="currency.onceLimit"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    <button class="btn btn-primary" ng-click="change(currency)">保存</button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="changeDayLimitModalContent.html">
        <div class="modal-header">
            <h3>提现日限额</h3>
        </div>
        <div class="modal-body">
            <form name="currencyForm" role="form">
                <table class="table-condensed" style="width: 95%">
                    <tr>
                        <td><label>提现日限额</label>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="currency.dayLimit"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    <button class="btn btn-primary" ng-click="change(currency)">保存</button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="changeVerifyLineModalContent.html">
        <div class="modal-header">
            <h3>提现审核额度</h3>
        </div>
        <div class="modal-body">
            <form name="currencyForm" role="form">
                <table class="table-condensed" style="width: 95%">
                    <tr>
                        <td><label>提现审核额度</label>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="currency.verifyLine"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    <button class="btn btn-primary" ng-click="change(currency)">保存</button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="changeWithdrawOnceMinModalContent.html">
        <div class="modal-header">
            <h3>最低提现金额</h3>
        </div>
        <div class="modal-body">
            <form name="currencyForm" role="form">
                <table class="table-condensed" style="width: 95%">
                    <tr>
                        <td><label>最低提现金额</label>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="currency.WithdrawOnceMin"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    <button class="btn btn-primary" ng-click="change(currency)">保存</button>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="changeNeedConfirmModalContent.html">
        <div class="modal-header">
            <h3>虚拟币最低确认次数</h3>
        </div>
        <div class="modal-body">
            <form name="currencyForm" role="form">
                <table class="table-condensed" style="width: 95%">
                    <tr>
                        <td><label>虚拟币最低确认次数</label>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="currency.num"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    <button class="btn btn-primary" ng-click="change(currency)">保存</button>
                </div>
            </form>
        </div>
    </script>
</div>

