@using DotPay.Language
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="title"><h3>关于我们</h3></div>
                <div class="content">
                    <ul>
                        <li><a target="_blank" href="/about.html">关于比特汇</a></li>
                        <li><a target="_blank" href="/about.html">加入比特汇</a></li>
                        <li><a target="_blank" href="/about.html">意见反馈</a></li>
                        <li><a target="_blank" href="/help.html">帮助中心</a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-sm-3  ">
                <div class="title"><h3>常见问题 </h3></div>
                <div class="content">
                    <ul>
                        <li><a target="_blank" href="/help.html#cont18">使用比特汇的好处</a></li>
                        <li><a target="_blank" href="/help.html#cont20">使用比特汇是否要收费？</a></li>
                        <li><a target="_blank" href="/help.html#cont2-5">如何设置店铺名称？</a></li>
                        <li><a target="_blank" href="/help.html#cont4_1">如何使用“人民币充值”？</a></li>
                        <li><a target="_blank" href="/help.html#cont6_1">如何发布商品？</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 contact">
                <div class="title"><h3>联系我们</h3></div>
                <div class="content">
                    <ul>
                        <li class="phone"><i class="icons"></i>客服热线：400-6666-380</li>
                        <li class="qq"><i class="icons"></i>企业QQ：<a href="javascript:void(0);" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&amp;sid=4006666380&amp;eid=218808P8z8p8P8z8R8y8x&amp;o=yesbtc.co&amp;q=7&amp;ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" title="通过您的qq直接跟我们企业qq客服沟通">400-6666-380</a></li>
                        <li class="email"><i class="icons"></i>客服邮箱：service@btct.com</li>
                        <li class="weibo"><i class="icons"></i>新浪微博：<a href="http://weibo.com/">weibo.com/yesbtc</a></li>
                        <li class="qq"><i class="icons"></i>官方QQ群：158531809</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 box qr_code" style="margin-right: 0px;">
                <div class="title"><h3>关注微信</h3></div>
                <div class="content">
                    <img src="/public/images/qr_code.png" alt="比特汇微信">
                </div>
            </div>
        </div>
    </div>
</div>