@using DotPay.Language
<div id="footer">
    <div>
        <div class="partner">
            <h2>合作伙伴</h2>
            <div class="img"><a target="_blank" href="http://www.inveno.cn/"><img src="~/public/images/logo.jpg" /></a></div>
            <div class="img"><a target="_blank" href="http://www.pow88.com/"><img src="~/public/images/logo.jpg" alt="Pow88"></a></div>
            <div class="img"><a target="_blank" href="http://www.btcside.com/"><img src="~/public/images/logo.jpg" alt="btcside logo"></a></div>
            <div class="img"><a target="_blank" href="http://www.btcig.com/"><img src="~/public/images/logo.jpg" alt="Btcig"></a></div>
        </div>
        <div class="friend-link">
            友情链接：
            <a href="http://www.yangyang.tv" target="_blank">洋洋访谈</a><span class="split">|</span>
            <a href="http://www.rockminer.com/" target="_blank">小强矿机</a><span class="split">|</span>
            <a href="http://www.btcgarden.com/" target="_blank">花园矿机</a><span class="split">|</span>
            <a href="http://zhibite.com/" target="_blank">智比特</a><span class="split">|</span>
            <a href="http://new.kipcoin.com/" target="_blank">比特币存钱罐</a><span class="split">|</span>
            <a href="https://openblock.com" target="_blank">壹钱包</a><span class="split">|</span>
            <a href="https://www.chbtc.com/" target="_blank">中国比特币</a><span class="split">|</span>
            <a href="http://www.btc123.com/" target="_blank">BTC123</a><span class="split">|</span>
            <a href="http://www.bittop100.com/" target="_blank">BitTop100</a><span class="split">|</span>
            <a href="https://blockchain.info/" target="_blank">BlockChain</a><br>
            <a href="http://www.btc38.com/" target="_blank">比特时代</a><span class="split">|</span>
            <a href="http://www.sosobtc.com/" target="_blank">搜搜比特币</a><span class="split">l</span>
            <a href="https://www.okcoin.com/" target="_blank">OKCoin</a><span class="split">|</span>
            <a href="https://www.huobi.com/" target="_blank">火币网</a><span class="split">|</span>
            <a href="http://btckan.com/" target="_blank">币看</a><span class="split">|</span>
            <a href="http://hxtop.com/" target="_blank">海峡比特币网</a><span class="split">|</span>
            <a href="http://btcman.com/" target="_blank">比特人</a><span class="split">|</span>
            <a href="http://www.bitecoin.com/" target="_blank">比特币中文网</a><span class="split">|</span>
            <a href="http://www.btctrade.com/" target="_blank">比特币交易网</a><span class="split">|</span>
            <a href="http://www.btc798.com/" target="_blank">比特币之家</a><span class="split">|</span>
            <a href="http://www.btcside.com/" target="_blank">比特帮</a><span class="split">|</span>
            <a href="http://vip.btcig.com/" target="_blank">比特币国际</a><br>
            <a href="http://www.bitcoin86.com/" target="_blank">比特币资讯网</a><span class="split">|</span>
            <a href="http://www.btc126.com/" target="_blank">比特币家园</a><span class="split">|</span>
            <a href="http://www.bitstones.com/" target="_blank">比特四通矿机</a><span class="split">|</span>
            <a href="http://www.coin711.com/" target="_blank">Coin711导航网</a><span class="split">|</span>
            <a href="http://www.ybex.co/" target="_blank">元宝联交所</a><span class="split">|</span>
            <a href="http://www.taobtc.net/" target="_blank">淘比特</a><span class="split">|</span>
            <a href="http://www.wanbizu.com/" target="_blank">比特币新闻</a>

        </div>
        <div id="copyright">
            Copyright©2008-2014 All Rights Reserved 安芯版权所有 |
            ICP备案：沪ICP备123456789号-2
        </div>
    </div>
</div>

