@using DotPay.Language
<footer id="footer" class="dotpay-footer">
    <div>
        @*<div class="dotpay-footer-partner">
            <span>合作伙伴</span>
            <a target="_blank" href="http://www.inveno.cn/"><img src="~/public/images/logo.png" /></a>
            <a target="_blank" href="http://www.pow88.com/"><img src="~/public/images/logo.png" alt="Pow88"></a>
            <a target="_blank" href="http://www.btcside.com/"><img src="~/public/images/logo.png" alt="btcside logo"></a>
            <a target="_blank" href="http://www.btcig.com/"><img src="~/public/images/logo.png" alt="Btcig"></a>
        </div>
        <ul class="dotpay-footer-links">
            <li>友情链接</li>
            <li></li>
            <li><a href="https://www.alipay.com">支付宝</a></li>
            <li>·</li>
            <li><a href="https://www.tenpay.com">财付通</a></li>
            <li>·</li>
            <li><a href="https://www.ripple.com">Ripple</a></li>
            <li>·</li>
            <li><a href="https://snapswap.us/">SnapSwap</a></li>
            <li>·</li>
            <li><a href="http://fidorpays.de/">FidorPay</a></li>
            <li>·</li>
            <li><a href="http://www.xrpchina.com">XrpChina</a></li> 
        </ul>*@
        <div id="copyright">
            Copyright©2008-2014 All Rights Reserved 点付科技版权所有 |
            ICP备案：沪ICP备14051077号
        </div>
    </div>
</footer>

