@using DotPay.Language

<header class="navbar navbar-static-top navbar-default  dotpay-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".dotpay-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand"><img src="/public/images/logo.png" style="height:30px;width:80px;" alt="点付 Dotpay" title="点付 Dotpay"></a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/index" class="top_link first">首页</a></li>
                <li><a href="/assets" class="top_link first">账户资产</a></li>
                <li><a href="/record" class="top_link first">交易记录</a></li>
                <li><a href="/shjr.html" class="top_link first">商户接入</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 帮助中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/bzzx.html">在线客服</a>
                        </li>
                        <li>
                            <a href="/bzzx1.html">电话客服</a>
                        </li>
                        <li>
                            <a href="/bzzx3.html">客服邮件</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 自助答疑 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/bzzx.html">常见问题</a>
                        </li>
                        <li>
                            <a href="/bzzx1.html">交易管理</a>
                        </li>
                        <li>
                            <a href="/bzzx3.html">平台操作</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (ViewBag.CurrentUser == null)
                {
                    <li><a href="/login">登录</a> </li>

                    <li><a href="/preregister">注册</a></li>
                }
                else
                {
                    <li> <a href="/my/profile">@("你好, ") @ViewBag.CurrentUser.LoginName</a></li>
                    <li><a href="/logout">@Html.Lang("Logout")</a></li>
                }
            </ul>
        </nav>
    </div>
</header> 