@using DotPay.Language
<div class="top">
    <div class="content">
        <a href="/login" target="_blank">登录</a> |
        <a href="/register" target="_blank">注册</a> | <a href="/register" target="_blank">自助开通</a> |
        <a href="/bzzx.html">帮助中心</a> | <a href="/about/lx.html">联系我们</a>
    </div>
</div>
<div class="header">
    <div class="left">
        <a href="/"><img src="/public/images/logo.jpg" alt="点付 Dotpay" title="点付 Dotpay"></a>
    </div>
    <div class="right">
        <img src="/public/images/dianhua.jpg">
    </div>
</div>
@Html.Partial("_nav")
