<!-- begin #team -->
<div id="future" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
        <h2 class="content-title">全球付，选点付</h2>
        <p class="content-desc">
            点付，您的快捷支付专家
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <!-- begin team -->
                <div class="future">
                    <div class="fb" data-animation="true" data-animation-type="flipInX">
                    </div>
                    <div class="info">
                        <h3 class="name">方便</h3>
                        <div class="title text-theme">随时随地</div>
                        <p>联网即可操作</p>

                    </div>
                </div>
                <!-- end team -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <!-- begin team -->
                <div class="future">
                    <div class="safe" data-animation="true" data-animation-type="flipInX">
                    </div>
                    <div class="info">
                        <h3 class="name">安全</h3>
                        <div class="title text-theme">银行级别安全</div>
                        <p>按照银行A级网络安全规范实施部署</p>

                    </div>
                </div>
                <!-- end team -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <!-- begin team -->
                <div class="future">
                    <div class="fast" data-animation="true" data-animation-type="flipInX">

                    </div>
                    <div class="info">
                        <h3 class="name">快捷</h3>
                        <div class="title text-theme">快速到达</div>
                        <p>告别过去繁琐、漫长的转账，让支付瞬间到达</p>

                    </div>
                </div>
                <!-- end team -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #team --> 