<div class="box-163css">
    <ul id="nav">
        <li class="item"><a href="/my/index" class="top_link first">首页</a></li>
        <li class="item">
            <a href="/my/assets" class="top_link first">账户资产</a>
        </li>
        <li class="item">
            <a href="/my/record" class="top_link first">交易记录</a>
        </li>
        <li class="item">
            <a href="/my/profile" class="top_link first">账户设置</a>
        </li>
        <li class="item">
            <a href="/shjr.html" class="top_link first">商户接入</a>
        </li>
        <li class="item">
            <a href="/bzzx.html" class="top_link first">
                帮助中心
            </a>
            <ul class="sub sub02">
                <div class="grp-sk1 last">
                    <h4>客服中心</h4>
                    <span>
                        <a href="/bzzx.html">在线客服</a>
                    </span>
                    <span>
                        <a href="/bzzx1.html">电话客服</a>
                    </span>
                    <span>
                        <a href="/bzzx3.html">客服邮件</a>
                    </span>
                </div>
                <div class="grp-sk1">
                    <h4>自助答疑</h4>
                    <span>
                        <a href="/shanghujieru/cj.html">常见问题</a>
                    </span>
                    <span>
                        <a href="/shanghujieru/jy.html">交易管理</a>
                    </span>
                    <span>
                        <a href="/shanghujieru/pt.html" class="">平台操作</a>
                    </span>
                    <span>
                        <a href="/shanghujieru/wy.html" class="">产品相关</a>
                    </span>
                </div>

            </ul>
        </li>
    </ul>
</div>