<div class="box-163css">
    <ul id="nav">
        <li class="item"><a href="/my/index" class="top_link first">首页</a></li>
        <li class="item">
            <a href="/my/assets" class="top_link first">账户资产</a>
        </li>
        <li class="item">
            <a href="/my/record" class="top_link first">交易记录</a>
        </li>
        <li class="item">
            <a href="/my/index" class="top_link first">账户设置</a>
        </li>
        <li class="item">
            <a href="/waiting" class="top_link first">商户接入</a>
        </li>
        <li class="item">
            <a href="/waiting" class="top_link first">
                帮助中心
            </a> 
        </li>
    </ul>
</div>