  <!-- begin #footer -->
<div id="footer" class="footer common navbar-fixed-bottom">
    <div class="container">
        <p>
            &copy; <a href="#">Dotpay</a>  2015  your payment expert.
        </p>
    </div>
</div>
<!-- end #footer -->