@using DotPay.Language
<div id="sidebar">
    <div id="sidebarMarkets">
        <div id="markets">
            
        </div>
    </div>
    <div id="marketVolume">
        <h2><a href="###">@Html.Lang("side_24 Hour Statistics")<img src="@ViewBag.CDN/public/images/icons/toggledown.png" alt="Toggle"></a></h2>
        <ul class="market stats" id="sidebarStats" style="display:none;">
            <div id="volume">
               
            </div>
        </ul>
    </div>
    
       

</div>
<script>
    $(function () {
        var marketInerval_sidebar;
        if (marketInerval_sidebar) window.clearInterval(marketInerval_sidebar);
        var vm_market_sidebar = {};
        var mapping_market_sidebar = {
            'sidebarBaseMarketInformation': { key: function (data) { return ko.utils.unwrapObservable(data.CurrencyType); } }
        }
        marketInerval_sidebar = window.setInterval(function () {
            $.post("/allmarketinformation", function (data, status) {
                vm_market_sidebar = ko.mapping.fromJS(data, mapping_market_sidebar, document.getElementById('sidebar')); 
            })
        }, 30000);
        $(function () {
            $.post("/allmarketinformation", function (data, status) {
                vm_market_sidebar = ko.mapping.fromJS(data, mapping_market_sidebar, document.getElementById('sidebar')); 

                var table_marke = $("#sidebarMarkets")
                table_marke.find("div").remove();
                table_marke.append("<div data-bind='foreach:{data:sidebarBaseMarketInformation,beforeRemove: function(elem) { $(elem).slideUp(1000,function() { $(elem).remove(); }) },afterAdd: function(elem) { $(elem).hide().show(1000) }}'><h2><a href=\"###\"><span data-bind='text:CurrencyType() +\" " + LABEL_SideBar_Markets + "\"'></span><img src=\"/public/images/icons/toggleup.png\"alt=\"Toggle\"></a></h2><ul class=\"market\"data-bind='attr: { id:CurrencyType().toLocaleLowerCase()+\"Markets\"}'><li class=\"title\"><span class=\"name\">" + LABEL_SideBar_Coin + "</span><span class=\"price\">" + LABEL_SideBar_Price + "</span><span class=\"change\">" + LABEL_SideBar_Change + "</span></li><div id=\"marketsLi\"data-bind='foreach: {data: $data.MarketsInformation}'><li><a data-bind='attr: { href:\"/market/\"+BaseCurrency()+\"/\"+TargetCurrency()}'><span class=\"name\"data-bind='text:TargetCurrency'></span><span class=\"price\"data-bind='text:Price'></span><span class=\"\"data-bind='attr: { class: (Change()>0?\"up\":(Change()<0?\"down\":\"\") +\" change\")}'><span data-bind='text:Change()>0?\"+\":\"\"'></span><span data-bind='text:Change()<0?\"-\":\"\"'></span><span data-bind='text:Change'></span></span></a><div class=\"volume\">" + LABEL_SideBar_Volume + ":<span data-bind='text:Change'></span><span data-bind='text:BaseCurrency'></span></div></li></div></ul></div>");
                ko.applyBindings(vm_market_sidebar, document.getElementById("sidebar"));

                var table_marke = $("#marketVolume").find("#sidebarStats");
                table_marke.find("div").remove();
                table_marke.append("<div data-bind='foreach:{data:sidebarBaseMarketInformation,beforeRemove: function(elem) { $(elem).slideUp(1000,function() { $(elem).remove(); }) },afterAdd: function(elem) { $(elem).hide().show(1000) }}'><li><span data-bind='text:CurrencyType'></span> " + LABEL_SideBar_Volume + "<span class='change'> <span class='sidebarBTC'data-bind='text:TwentyFourHoursVolume'></span> <span data-bind='text:CurrencyType'></span></span></li></div>");
                ko.applyBindings(vm_market_sidebar, document.getElementById("marketVolume"));
                 
                })
        })
    })
</script>