@using DotPay.Language

<header class="navbar navbar-static-top navbar-default  dotpay-navbar-profile-top" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".dotpay-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a><i class="welcome">点付,您的快捷支付专家</i></a></li>
            </ul>
            <ul class="nav navbar-nav  navbar-right">
                @if (ViewBag.CurrentUser == null)
                {
                    <li><a href="/login" target="_blank">登录</a> </li>
                    <li><a href="/preregister" target="_blank">注册</a></li>
                }
                else
                {
                    <li> <a href="/my/index" target="_blank">@("你好, ") @ViewBag.CurrentUser.LoginName</a></li>
                    <li><a href="/logout">@Html.Lang("Logout")</a></li>
                }
            </ul>
        </nav>
    </div>
</header> 