@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title" ng-bind="title"></h4>
    </div>
    <div class="panel-body">
        <div class="pull-left">

        </div>
        <div class="pull-right padding-right100">

        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>标题</th>
                <th>作者ID</th>
                <th>置顶</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody ng-show="notices">
            <tr ng-repeat="notice in notices">
                <td><input type="checkbox" ng-model="notice.Checked" ng-change="checkedChange(notice)"></td>
                <td><span ng-bind="notice.ID"></span></td>
                <td><a ng-href="/#/noticechange/{{notice.ID}}">{{notice.Title}}</a></td>
                <td ng-bind="notice.CreateBy"></td>
                <td ng-bind="notice.IsTop?'置顶':'普通'"></td>
                <td ng-bind="notice.CreateAt*1000 | date:'yyyy-MM-dd HH:mm:ss'"></td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="totalCount" page="currentPage" first-text="首页" on-select-page="pageChange(page)" next-text="下一页" previous-text="上一页" last-text="尾页" max-size="10" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    <pre>共{{totalCount}}条数据  第{{currentPage}}页 /共{{numPages}}页</pre>
</div>