<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
  </configSections>
  <couchbase>
    <servers bucket="test" bucketPassword="test">
      <add uri="http://192.168.0.100:8091/pools" />
    </servers>
  </couchbase>
  <connectionStrings>
    <add name="FCDB2" connectionString="Server=192.168.0.100;Database=server_t;Uid=root;Pwd=root;Allow Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="messageQueueServerConnectString" connectionString="amqp://rabbit:rabbit@192.168.0.100" />
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="MutexLocker" value="RippleMonitor_Locker" />
    <!--loop is second-->
    <add key="LoopInterval" value="60" />
    <add key="CoinCode" value="Ripple" />
    <add key="StatisticsFlg" value="Ripple_1" />
    <add key="DefaultConfirmations" value="6" />
    <add key="RippleAddressTableName" value="RipplePaymentAddress" />
    <add key="TxTableName" value="RippleReceivePaymentTransaction" />
    <add key="CurrencyTableName" value="Currency" />
    <add key="JavaPath" value="C:\Program Files\Java\jre7\bin\java.exe" />
    <add key="RippleFilePath" value="C:\Users\lwt\Desktop\nxt\run.bat" />
    <add key="RippleServerStartRetryMaxCount" value="5" />
    <add key="RippleServer" value="http://127.0.0.1:7876/nxt" />
    <add key="SecretPhrase" value="frighten burn violence complain cruel heel connection entire roll realize flicker seven asdfuitest" />
    <add key="NxtSumAccount" value="Ripple-GT9M-NQVN-G2B4-6MUB4" />
    <add key="Debug" value="True" />
    <add key="Table_Prefix" value="DotPay_" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    <remove invariant="MySql.Data.MySqlClient" /><add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Couchbase" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.9.0" newVersion="1.3.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.9.0" newVersion="1.3.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>