@{     
    Layout = null;
}
@using FullCoin.Web.Admin;
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">BTC提现记录</h4>
    </div>
    <div class="panel-body">
        <div class="pull-left">
        </div>
        <div class="pull-right padding-right100">
            <label>用户ID:</label><input type="text" class="form-control inline-control " ng-model="UserID_Search">
            <button type="button" class="btn btn-success" ng-click="search()"><span class="glyphicon glyphicon-search"></span>搜索</button>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>用户Email</th>
                <th>金额</th>
                <th>费用</th>
                <th>创建时间</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="withdraw in withdraws">
                <td><input type="checkbox" ng-model="withdraw.Checked" ng-change="checkedChange(withdraw)"></td>
                <td ng-bind="withdraw.ID"></td>
                <td ng-bind="withdraw.Email"></td>
                <td ng-bind="withdraw.Amount"></td>
                <td ng-bind="withdraw.Fee"></td>
                <td ng-bind="withdraw.CreateAt*1000 | date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td ng-bind="withdraw.Memo"></td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="totalCount" page="currentPage" first-text="首页" on-select-page="pageChange(page)" next-text="下一页" previous-text="上一页" last-text="尾页" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    <pre>共{{totalCount}}条数据  第{{currentPage}}页 /共{{numPages}}页</pre>
</div>