<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="couchbaseClients">
      <section name="couchbaseCache" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>
  </configSections>
  <couchbaseClients>
    <couchbaseCache>
      <servers>
        <add uri="http://192.168.0.100:8091" />
      </servers>
      <buckets>
        <add name="dotpay" password="dotpay" useSsl="false" />
      </buckets>
    </couchbaseCache>
  </couchbaseClients>
  <connectionStrings>
    <clear/>
    <add name="taobaodb" connectionString="Server=192.168.0.100;Database=dotpay_db;Uid=root;Pwd=root;Allow Zero Datetime=True" providerName="MySql.Data.MySqlClient"/>
    <add name="messageQueueServerConnectString" connectionString="amqp://rabbit:rabbit@192.168.0.100"/>
  </connectionStrings>
  <appSettings>
    <add  key="noticeMails" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>