@using Dotpay.Common
@using Dotpay.Common.Enum
@using Dotpay.Front.Controllers
@using Dotpay.Language
@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@Html.Action("ProfileHeader", "Profile", new { activeIndex = 3 })
<div class="profile-main">
    <div class="sub-nav ">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">转账到点付<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/deposit/alipay">转账到支付宝<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/deposit/taobao">转账到银行<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/deposit/taobao">转账到Ripple<i class="icon-chevron-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container deposit">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div>
                <h4>转账到银行</h4>
            </div>
            <hr />
            <form id="transferToBankForm" class="form-horizontal" method="POST" action="~/deposit/epsubmit">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 col-lg-2 control-label" for="identityno">请选择银行：</label>
                    <div class="col-sm-8 controls">
                        @Html.DropDownList("bank", Html.SelectListFor<Bank>(null), new { @class = "form-control" })
                        @*<input class="form-control" id="idType" type="text" name="idno" value="">*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="receiverAccount" class="col-sm-3 col-md-3 col-lg-2 control-label">收款账号：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" autocomplete="off" id="receiverAccount" name="receiverAccount" placeholder="银行账号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="realName" class="col-sm-3 col-md-3 col-lg-2 control-label">收款人姓名：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" autocomplete="off" id="realName" name="realName" placeholder="收款人真实姓名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="transferAmount" class="col-sm-3 col-md-3 col-lg-2  control-label">付款金额：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="transferAmount" name="transferAmount">
                    </div>
                </div>
                <div class="form-group">
                    <label for="memo" class="col-sm-3 col-md-3 col-lg-2 control-label">备注：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="memo" name="memo" placeholder="转账">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary">下一步</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.getScript('/assets/js/transfer.js').done(function () {
                Transfer.initTransferToBank();
            });
        });
    </script>
</div>