@{
    Layout = null;
}
@using FC.Framework;
@using DotPay.ViewModel
@using DotPay.Common
@using DotPay.Language

@using DotPay.Language
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>@Html.Lang("website_Title")</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="dotpay" name="keywords">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/public/libs/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/public/css/font-awesome.min.css" rel="stylesheet" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="~/public/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link href="~/public/libs/bootstrap-validator/css/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/public/css/layout.css" rel="stylesheet" />
    <link href="~/public/css/profile.css" rel="stylesheet" />
    <script src="~/public/libs/jquery/jquery.min.js"></script>
    <script src="~/public/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/public/libs/bootstrap-validator/js/bootstrapValidator.min.js"></script>
    <script src="~/public/js/main.js"></script>
    <script src="~/public/libs/ripple/ripple-min.js"></script>
</head>
<body style="padding-bottom: 70px;">
    <header class="navbar navbar-static-top navbar-default  dotpay-navbar-profile-top" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".dotpay-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a><i class="welcome">点付,您的快捷支付专家</i></a></li>
                </ul> 
            </nav>
        </div>
    </header> 
    <nav class="navbar navbar-default dotpay-navbar-profile" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/my/index/">
                    <img alt="Brand" style="height:40px;width:80px;display:inline" src="~/public/images/logo.png">
                    <span>转账进度查询</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container dotpay-apps">
        <div class="col-sm-10 col-sm-offset-1">
            <form id="transferFrom" class="form-horizontal" role="form" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-sm-2 control-label">收款人：</label>
                    <div class="col-sm-8">
                        <label class="control-label">
                            @ViewBag.Receiver.Email
                        </label>
                    </div>
                </div>  
            </form>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
            您好，这笔交易是存在的，我们会尽快处理。
            当前时间，北京时间XX,我们在10:00-22:00会很快处理，在之外的时间会顺延至次日工作时间，敬请谅解
        </div>
    </div>
    <footer id="footer" class="dotpay-footer navbar-fixed-bottom">
        <div>
            <div id="copyright">
                Copyright©2008-2014 All Rights Reserved 点付科技版权所有 |
                ICP备案：沪ICP备123456789号-2
            </div>
        </div>
    </footer>
</body>
</html>

