@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@using FC.Framework;
@using DotPay.ViewModel
@using DotPay.Common
@using DotPay.Language
<nav class="navbar navbar-default dotpay-navbar-profile" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/my/index/">
                <img alt="Brand" style="height:40px;width:80px;" src="~/public/images/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/my/index/"> 我的资金</a></li>
                <li><a href="/my/txrecords">交易记录</a></li>
                <li><a href="/my/profile">账户设置</a></li>
                <li class="active"><a href="/apps">应用中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container dotpay-apps">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading app-group">
                <strong>应用中心</strong>
            </div>
            <div class="list-group">
                <a href="/transfer/cny/payment" class="list-group-item app-link"> 转账到点付</a>
                <a href="/transferout/ripple/payment" class="list-group-item app-link">转账到Ripple</a>
                <a href="/transfertpp/alipay/payment" class="list-group-item app-link">转账到支付宝</a>
                <a href="/transfertpp/tenpay/payment" class="list-group-item app-link">转账到财付通</a>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-info">
            <div class="panel-heading dotpay-transfer-title">
                <h4>应用中心</h4>
            </div>
            <div class="panel-body">
                内容等待填充
            </div>
        </div>
    </div> 
</div>