@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@using FC.Framework;
@using DotPay.ViewModel
@using DotPay.Common
@using DotPay.Language
<nav class="navbar navbar-default dotpay-navbar-profile" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/my/index/">
                <img alt="Brand" style="height:40px;width:80px;" src="~/public/images/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/my/index/"> 我的资金</a></li>
                <li><a href="/my/txrecords">交易记录</a></li>
                <li><a href="/my/profile">账户设置</a></li>
                <li class="active"><a href="/apps">应用中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container dotpay-apps">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading app-group">
                <strong>转账</strong>
            </div>
            <div class="list-group">
                <a href="/transfer/cny/payment" class="list-group-item app-link"> 转账到点付</a>
                <a href="/transferout/ripple/payment" class="list-group-item app-link">转账到Ripple</a>
                <a href="/transfertpp/alipay/payment" class="list-group-item app-link">转账到支付宝</a>
                <a href="/transfertpp/tenpay/payment" class="list-group-item app-link">转账到财付通</a>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-info">
            <div class="panel-heading dotpay-transfer-title">
                <h4>转账到点付</h4>
            </div>
            <div class="panel-body">
                <form id="transferFrom" class="form-horizontal" role="form" method="post" action="/transfer/cny/payment">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="inputAccount" class="col-sm-3 col-md-3 col-lg-2 control-label">收款人：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" autocomplete="off" id="inputAccount" name="frontAccount" placeholder="收款人账号/邮箱地址">
                            <input type="hidden" id="realAccount" name="account">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 col-md-3 col-lg-2  control-label">付款金额：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="amount" name="amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 col-md-3 col-lg-2 control-label">付款说明：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="description" name="description" placeholder="转账">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-primary">下一步</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#transferFrom').bootstrapValidator({
                message: '请输入合法的值',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                trigger: 'blur',
                fields: {
                    frontAccount: {
                        validators: {
                            notEmpty: {
                                message: '请输入账号/邮箱地址!'
                            },
                            remote: {
                                url: "/transfer/queryacct",
                                data: function () { return { "account": $("#inputAccount").val(), "__RequestVerificationToken": $("input[name='__RequestVerificationToken']").val() } },
                                type: "post",
                                onSuccess: function (e, data) {
                                    //$("#inputAccount").val(data.result.RealName + "( " + data.result.Account + " )");
                                    $("#inputAccount").val(data.result.Account);
                                    $("#inputAccount").attr("readonly", "readonly");
                                    $("#realAccount").val(data.result.Account);
                                }
                            }
                        }
                    },
                    amount: {
                        validators: {
                            notEmpty: {
                                message: '付款金额必须为整数或小数，小数点后不超过2位。'
                            },
                            regexp: {
                                regexp: /^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/,
                                message: '付款金额必须为整数或小数，小数点后不超过2位。'
                            },
                            callback: {
                                callback: function (value, validator) {
                                    if (parseFloat(value) < 0.01) {
                                        return {
                                            valid: false,
                                            message: '金额不能小于0.01'
                                        }
                                    }
                                    return true;
                                }
                            }
                        }
                    }
                }
            })
            .on('error.validator.bv', function (e, data) {
                data.element
                    .data('bv.messages')
                    .find('.help-block[data-bv-for="' + data.field + '"]').hide()
                    .filter('[data-bv-validator="' + data.validator + '"]').show();
            });
        });
        $("#inputAccount").on("click", function () {
            $(this).removeAttr("readonly");
            var val = $("#realAccount").val();
            if (val)
                $(this).val(val);
        });
    </script>
</div>