@using Dotpay.Common
@using Dotpay.Common.Enum
@using Dotpay.Front.Controllers
@using Dotpay.Language
@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@Html.Action("ProfileHeader", "Profile", new { activeIndex = 4 })
<div class="profile-main">
    <div class="sub-nav ">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">转账到点付<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/deposit/alipay">转账到支付宝<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/deposit/taobao">转账到银行<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/deposit/taobao">转账到Ripple<i class="icon-chevron-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container deposit">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div>
                <h4>转账到点付</h4>
            </div>
            <hr />
            <form id="transferToDotpayForm" class="form-horizontal" method="POST" action="~/deposit/epsubmit">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="frontAccount" class="col-sm-3 col-md-3 col-lg-2 control-label">收款人：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" autocomplete="off" id="frontAccount" name="frontAccount" placeholder="收款人账号/邮箱地址">
                        <input type="hidden" id="realAccount" name="receiverAccount">
                    </div>
                </div>
                <div class="form-group">
                    <label for="transferAmount" class="col-sm-3 col-md-3 col-lg-2  control-label">付款金额：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="transferAmount" name="transferAmount">
                    </div>
                </div>
                <div class="form-group">
                    <label for="memo" class="col-sm-3 col-md-3 col-lg-2 control-label">付款说明：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="memo" name="memo" placeholder="转账">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary">下一步</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.getScript('/assets/js/transfer.js').done(function () {
                Transfer.initTransferToDotpay();
            });
        });
    </script>
</div>