@using Dotpay.Common
@using Dotpay.Common.Enum
@using Dotpay.Front.Controllers
@using Dotpay.Language
@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@Html.Action("ProfileHeader", "Profile", new { activeIndex = 4 })
<div class="profile-main">
    <div class="sub-nav ">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/transfer/index">转账到点付<i class="icon-chevron-right"></i></a>
                </li>
                <li class="active">
                    <a href="#">转账到支付宝<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/transfer/bank">转账到银行<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/transfer/ripple">转账到Ripple<i class="icon-chevron-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container deposit">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div>
                <h4>转账到支付宝</h4>
            </div>
            <hr />
            <form id="transferToAlipayForm" class="form-horizontal">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="receiverAccount" class="col-sm-3 col-md-3 col-lg-2 control-label">收款地址：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" autocomplete="off" id="receiverAccount" name="receiverAccount" placeholder="手机号/邮箱">
                    </div>
                </div>
                <div class="form-group">
                    <label for="transferAmount" class="col-sm-3 col-md-3 col-lg-2  control-label">付款金额：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="transferAmount" name="transferAmount">
                    </div>
                </div>
                <div class="form-group">
                    <label for="memo" class="col-sm-3 col-md-3 col-lg-2 control-label">备注：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="memo" name="memo" placeholder="转账">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary">下一步</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.getScript('/assets/js/transfer.js').done(function () {
                Transfer.initTransferToAlipay();
            });
        });
    </script>
</div>