@model DotPay.ViewModel.LoginUser

<header ng-controller="IndexCtrl" ng-init="userId = '@Html.DisplayTextFor(m => m.UserID)'">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("DotPay后台管理", "Index", " ", new { @class = "navbar-brand" })
            </div>
            <p class="navbar-text navbar-right">
                <span class="label label-info">欢迎您:</span>  @Html.DisplayTextFor(m => m.NickName)
                <span class="label label-default" style="cursor: pointer" ng-click="modifyPassword()">修改密码</span>
                <span class="label label-default" style="cursor: pointer" ng-click="logout()">注销</span>
            </p>
        </div>
    </nav>
</header>
