<div id="content" class="content">

    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">您没有权限访问此页面</h1>
    <!-- end page-header -->

    <p>
        No Permission
    </p>
</div>