
.dotpay-social { margin-bottom: 20px; text-align: center; }
.dotpay-masthead, .dotpay-header { position: relative; padding: 30px 15px; color: #16bbce; text-align: center; text-shadow: 0 1px 0 rgba(0,0,0,.1); background-color: #2c5b8b; background-image: -webkit-gradient(linear,left top,left bottom,from(#011c44),to(#2c5b8b)); background-image: -webkit-linear-gradient(top,#011c44 0,#2c5b8b 100%); background-image: -o-linear-gradient(top,#011c44 0,#2c5b8b 100%); background-image: linear-gradient(to bottom,#011c44 0,#2c5b8b 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#011c44', endColorstr='#2c5b8b', GradientType=0); background-repeat: repeat-x; }
    .dotpay-masthead .dotpay-booticon { margin: 30px auto 30px; }
    .dotpay-masthead h1 { font-weight: 300; line-height: 1; color: #fff; }
    .dotpay-masthead .lead { margin: 0 auto 30px; font-size: 20px; color: #fff; }
    .dotpay-masthead .version { margin-top: -15px; margin-bottom: 30px; color: #9783b9; }
    .dotpay-masthead .btn { width: 100%; padding: 15px 30px; font-size: 20px; }
.dotpay-booticon { display: block; font-weight: 500; color: #fff; text-align: center; mar cursor: default; background-color: #011c44; }
.dotpay-booticon-sm { width: 30px; height: 30px; font-size: 20px; line-height: 28px; }
.dotpay-booticon-lg { width: 220px; height: 140px; font-size: 108px; line-height: 140px; }
.dotpay-booticon-inverse { color: #011c44; background-color: #fff; }
.dotpay-booticon-outline { background-color: transparent; background: url(../images/logo.png) no-repeat; }

.dotpay-featurette { padding-top: 40px; padding-bottom: 40px; font-size: 16px; line-height: 1.5; color: #555; text-align: center; background-color: #fff; border-bottom: 1px solid #e5e5e5; }
    .dotpay-featurette + .dotpay-footer { margin-top: 0; border-top: 0; }
.dotpay-featurette-title { margin-bottom: 5px; font-size: 30px; font-weight: 400; color: #333; }
.half-rule { width: 100px; margin: 40px auto; }
.dotpay-featurette h3 { margin-bottom: 5px; font-weight: 400; color: #333; }
.dotpay-featurette-img { display: block; margin-bottom: 20px; color: #333; }
    .dotpay-featurette-img:hover { color: #428bca; text-decoration: none; }
    .dotpay-featurette-img img { display: block; margin-bottom: 15px; }

@media (min-width:480px) {
    .dotpay-featurette .img-responsive { margin-top: 30px; }
}

@media (min-width:768px) {
    .dotpay-featurette { padding-bottom: 100px; }
    .dotpay-featurette-title { font-size: 40px; }
    .dotpay-featurette .lead { max-width: 80%; margin-right: auto; margin-left: auto; }
    .dotpay-featurette .img-responsive { margin-top: 0; }
}

.dotpay-featured-sites { margin-right: -1px; margin-left: -1px; }
    .dotpay-featured-sites .col-xs-6 { padding: 1px; }
    .dotpay-featured-sites .img-responsive { margin-top: 0; }

@media (min-width:768px) {
    .dotpay-featured-sites .col-sm-3:first-child img { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
    .dotpay-featured-sites .col-sm-3:last-child img { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
}

#about { background: #ececec; }
    #about ul { padding-left: 20px; }
    #about li { margin: 10px 0; }
    #about a { text-decoration: none; color: #666; }
        #about a:hover { text-decoration: none; color: #0099cb; }
    #about .contact li { margin: 15px 0; list-style: none; }
        #about .contact li i { float: left; width: 30px; height: 20px; }
    #about .phone i { background: url(/public/images/icons-v2.png) no-repeat 0 -420px; }
    #about .qq i { background: url(/public/images/icons-v2.png) no-repeat -60px -420px; }
    #about .email i { background: url(/public/images/icons-v2.png) no-repeat -180px -420px; }
    #about .weibo i { background: url(/public/images/icons-v2.png) no-repeat -120px -420px; }


.panel-page { padding: 45px 50px 50px; min-height: 500px; }
.panel-col .panel-heading { background: transparent; font-weight: bold; color: #393d4d; padding: 20px 20px; }
.lt-ie8 .panel-col .panel-heading { border-bottom: 1px solid #ddd; zoom: 1; }
.panel-page { padding: 45px 50px 50px; min-height: 500px; }
    .panel-page .panel-heading { background: transparent; border-bottom: none; margin: 0 0 30px 0; padding: 0; }
        .panel-page .panel-heading h2 { font-size: 25px; margin-top: 0; }

.social-logins { margin-bottom: 20px; margin-top: 30px; }
    .social-logins .social-login-btn { margin-right: 20px; }
        .social-logins .social-login-btn .social-icon { margin-right: 8px; }
.social-icon-weibo,
.social-icon-qq { width: 24px; height: 24px; display: inline-block; *display: inline-block; *zoom: 1; background: url(../images/ss.png) 0 0 no-repeat; vertical-align: middle; }

.social-icon-weibo { background-position: 1px 1px; }
.social-icon-qq { background-position: 1px -37px; }


