.dotpay-navbar-profile-top { min-height: 0 !important; margin-bottom: 0 !important; background-color: #333333; }
    .dotpay-navbar-profile-top .nav > li > a,
    .dotpay-navbar-profile-top .nav > li > a:hover { padding-top: 5px !important; padding-bottom: 5px !important; color: #fff; }
    .dotpay-navbar-profile-top .welcome { color: #eee; }
.dotpay-navbar-profile { background-color: #f6f6f6; border: none; padding: 10px 0; }
    .dotpay-navbar-profile .nav > li > a { font-weight: bold; font-size: 16px; }
    .dotpay-navbar-profile .nav > li.active > a { color: #e66e1e; background: none; }
        .dotpay-navbar-profile .nav > li.active > a:hover { color: #e66e1e; background: none; }

.dotpay-i-assets-panel .container {margin-top: 10px; padding: 0 0 10px 0; margin-bottom: 10px; }
.dotpay-i-assets-panel .acct_assets { background-color: #fefefe; }
.dotpay-i-assets-panel table { margin-bottom: 0; }
    .dotpay-i-assets-panel table.acct_assets  td { border: 1px solid #e1e1e1; }
.dotpay-i-assets-panel .acct_status { float: right; padding-right: 50px; font-size: 12px; }
.dotpay-i-assets-panel .assets-content { margin: 30px 20px 20px 30px; }
    .dotpay-i-assets-panel .assets-content .assets-header { }
    .dotpay-i-assets-panel .assets-content .assets-amount { line-height: 24px; display: inline; float: left; position: relative; top: -2px; }
        .dotpay-i-assets-panel .assets-content .assets-amount .amount { font-size: 24px; font-weight: 400; color: #666; margin-left: 5px; }
        .dotpay-i-assets-panel .assets-content .assets-amount .fen { font-size: 18px; }
    .dotpay-i-assets-panel .assets-content .assets-des { margin-left: 20px; white-space: nowrap; display: inline; float: left; }
.dotpay-i-assets-panel .assets-chart { width: 35%; }
.dotpay-i-assets-panel .tx-records .tx-heading { background-color: #e1e1e1; }
.dotpay-i-assets-panel a { color: #666; }

.dotpay-i-base-panel .container { border: none; margin-top: 10px; padding: 0 0 10px 0; margin-bottom: 10px; background: url("https://i.alipayobjects.com/e/201205/2eGjoqOowj.png") repeat-y; }
.dotpay-i-base-panel .profile-nav-container { padding-right: 10px; margin-top: 50px; width: 165px; }
.dotpay-i-base-panel .head-icon { height: 75px; width: 75px; }
.dotpay-i-base-panel .profile-nav .nav-item { border-bottom: 1px solid #e2e8ed; border-top: 1px solid #f7f7f9; }
    .dotpay-i-base-panel .profile-nav .nav-item i { margin-top: 3px; float: right; }
    .dotpay-i-base-panel .profile-nav .nav-item.active { background-color: #fff; border-left: 1px solid #e3e3e6; }
.dotpay-i-base-panel .profile-nav li a { padding-left: 20px; }
.dotpay-i-base-panel table { margin-bottom: 0; }
    .dotpay-i-base-panel table tr { border: 1px solid #eee; }
.dotpay-i-base-panel .basetitle { border-bottom: 2px solid gray; padding-bottom: 7px; }
.dotpay-i-base-panel .base-info { color: #333; font-size: 12px; padding-left: 30px; }
.dotpay-i-base-panel .base-content { color: #666; font-size: 12px; }
.dotpay-i-base-panel a { color: #666; }
.dotpay-modfiy-pwd { background-color: #fefefe; }
    .dotpay-modfiy-pwd .desc-panel { padding-top: 20px; }
    .dotpay-modfiy-pwd .info-icon { vertical-align: top; color: #08C; }
    .dotpay-modfiy-pwd .desc { font-size: 12px; color: #999; display: inline-block; margin-left: 5px; }
.dotpay-apps { }
    .dotpay-apps .app-group { text-align: center; background: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f1f1f1)); background: -moz-linear-gradient(top,#fcfcfc,#f1f1f1); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1'); background: -o-linear-gradient(top,#fcfcfc,#f1f1f1); background: linear-gradient(top,#fcfcfc,#f1f1f1); }
    .dotpay-apps .app-link.cny-transfer { background: url(/public/images/icons/cny.png) 10px 8px no-repeat; padding-left: 40px; }
    .dotpay-apps .app-link.usd-transfer { background: url(/public/images/icons/usd.png) 10px 8px no-repeat; padding-left: 40px; }
    .dotpay-apps .app-link.exchange { background: url(/public/images/icons/exchange.png) 10px 8px no-repeat; padding-left: 40px; }
    .dotpay-apps .app-link.alipay { background: url(/public/images/icons/alipay.png) 5px 8px no-repeat; padding-left: 40px; }
    .dotpay-apps .app-link.tenpay { background: url(/public/images/icons/tenpay.png) 10px 8px no-repeat; padding-left: 40px; }

a.app-link:visited { color: #0088CC; }
a.app-link:link, a.app-link:visited { color: #0088CC; }
a.app-link, a.app-link:hover { color: #08c; }
    a.app-link.disabled { color: #999; text-decoration: none; cursor: not-allowed; }
.transfe-success .result-message { margin: 25px 50px; padding-left: 65px; height: 48px; line-height: 24px; font-size: 14px; color: #333; font-weight: bolder; background: url(../images/success.png) no-repeat 0 0; }
.transfe-success .remark { font-size: 12px; color: #505050; }

.form-control[readonly] { background-color: #f9f9f9; opacity: 1; }

#about { background: #ececec; }
    #about ul { padding-left: 20px; }
    #about li { margin: 10px 0; }
    #about a { text-decoration: none; color: #666; }
        #about a:hover { text-decoration: none; color: #0099cb; }
    #about .contact li { margin: 15px 0; list-style: none; }
        #about .contact li i { float: left; width: 30px; height: 20px; }
    #about .phone i { background: url(/public/images/icons-v2.png) no-repeat 0 -420px; }
    #about .qq i { background: url(/public/images/icons-v2.png) no-repeat -60px -420px; }
    #about .email i { background: url(/public/images/icons-v2.png) no-repeat -180px -420px; }
    #about .weibo i { background: url(/public/images/icons-v2.png) no-repeat -120px -420px; }


.panel-page { padding: 45px 50px 50px; min-height: 500px; }
.panel-col .panel-heading { background: transparent; font-weight: bold; color: #393d4d; padding: 20px 20px; }
.lt-ie8 .panel-col .panel-heading { border-bottom: 1px solid #ddd; zoom: 1; }
.panel-page { padding: 45px 50px 50px; min-height: 500px; }
    .panel-page .panel-heading { background: transparent; border-bottom: none; margin: 0 0 30px 0; padding: 0; }
        .panel-page .panel-heading h2 { font-size: 25px; margin-top: 0; }
