@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@using DotPay.Language
@using DotPay.Web
@using FC.Framework
<nav class="navbar navbar-default dotpay-navbar-profile" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/my/profile/">
                <img alt="Brand" style="height:40px;width:80px;" src="~/public/images/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/my/profile/"> 我的资金</a></li>
                <li><a href="/my/txrecords">交易记录</a></li>
                <li><a href="/my/settings">账户设置</a></li>
                <li class="active"><a href="/apps">应用中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row dotpay-i-assets-panel">
    <div class="container">
        <div class="acct_status">
            <label>账户状态:</label>未认证<i> <a href="#">获得账户认证</a></i>
        </div>
        <table class="table acct_assets">
            <tr>
                <td>
                    <div class="assets-content">
                        <label class="assets-header">人民币余额:</label>
                        <div>
                            <p class=" assets-amount">
                                <strong class="amount">10<span class="fen">.41</span></strong>
                            </p>
                            <p class="assets-des">
                                <a class="btn btn-default btn-xs" href="/deposit/cny">充值</a>
                                <a class="btn btn-default btn-xs" href="/withdraw/cny">提现</a>
                                <a class="btn btn-default btn-xs" href="/transfer/cny/payment">转账</a>
                            </p>
                        </div>
                    </div>
                </td>
                <td rowspan="2" class="assets-chart">占位文字，将来放置一个图表</td>
            </tr>
            <tr>
                <td>
                    <div class="assets-content">
                        <label class="assets-header">美元余额:</label>
                        <div>
                            <p class=" assets-amount">
                                <strong class="amount">670<span class="fen">.24</span></strong>
                            </p>
                            <p class="assets-des">
                                <a class="btn btn-default btn-xs" href="/deposit/usd">充值</a>
                                <a class="btn btn-default btn-xs" href="/withdraw/usd">提现</a>
                                <a class="btn btn-default btn-xs" href="/transfer/usd/payment">转账</a>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="container panel panel-default  tx-records">
        <div class="panel-heading tx-heading">
            <h3 class="panel-title">交易记录</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:180px;">流水号</th>
                        <th style="width:180px;">日期</th>
                        <th style="width:180px;">名称|备注</th>
                        <th style="width:180px;">收入</th>
                        <th style="width:180px;">支出</th>
                        <th style="width:180px;">账户余额</th>
                        <th style="width:180px;">支付方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>