@using Dotpay.Common
@using Dotpay.Front.Controllers
@using Dotpay.Language
@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@Html.Action("ProfileHeader", "Profile", new { activeIndex = 5 })
<div class="profile-main">
    <div class="sub-nav ">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/profile">基本信息 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/profile/mobile">手机设置<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/profile/identityverify">实名认证<i class="icon-chevron-right"></i></a>
                </li>
                <li class="active">
                    <a href="/profile/modifyloginpwd">修改登录密码<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/profile/modifypaypwd">修改支付密码<i class="icon-chevron-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div>
                <h4>修改登陆密码</h4>
            </div>
            <div>
                <span class="glyphicon glyphicon-info-sign"></span>
                <span class="desc">
                    修改后，请使用新的密码进行登陆<br>
                </span>
            </div>
            <hr />
            <div class="note" id="noticeBox" style="display: none;"></div>
            <form id="modifyLoginPwdForm" class="form-horizontal">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-sm-4 col-md-2 control-label" for="identityno">账户名</label>
                    <div class="col-sm-4 controls">
                        <label class="control-label">@ViewBag.CurrentUser.LoginName<span class="desc">@ViewBag.CurrentUser.Email</span></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-2 control-label" for="oldPassword">原登陆密码</label>
                    <div class="col-sm-4 controls">
                        <input class="form-control" id="oldPassword" type="password" name="oldPassword" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-2 control-label" for="newPassword">新密码</label>
                    <div class="col-sm-4 controls">
                        <input class="form-control" id="newPassword" type="password" name="newPassword" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-2 control-label" for="confirmPassword">确认密码</label>
                    <div class="col-sm-4 controls">
                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" value="" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-md-4 col-lg-3  col-sm-offset-3 controls">
                        <input type="submit" class="btn btn-primary btn-large btn-block" value="确定">
                    </div>
                </div>
            </form>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.getScript('/assets/js/modifyloginpwd.js').done(function () {
                ModifyLoginPassword.init();
            });
        });
    </script>
</div>