@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@using DotPay.Language
@using DotPay.Web
@using FC.Framework
<nav class="navbar navbar-default dotpay-navbar-profile" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/my/index/">
                <img alt="Brand" style="height:40px;width:80px;" src="~/public/images/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/my/index/"> 我的资金</a></li>
                <li class="active"><a href="/my/txrecords">交易记录</a></li>
                <li><a href="/my/profile">账户设置</a></li>
                <li><a href="/transfer/cny/payment">应用中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row dotpay-i-assets-panel">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading tx-heading">
                <h3 class="panel-title">交易记录</h3>
            </div>
            <div class="panel-body">
                <table id="tx_tb" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:180px;">流水号</th>
                            <th style="width:180px;">日期</th>
                            <th style="width:180px;">名称|备注</th>
                            <th style="width:180px;">收入</th>
                            <th style="width:180px;">支出</th>
                            <th style="width:180px;">支付方式</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <nav>
                    <ul id="txpager" class="pager pull-right">
                        <li><a href="#">上一页</a></li>
                        <li><a href="#">下一页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            querydata(1);
            $("#txpager li a:enabled").click(function () {
                var page = $(this).attr("index");
                querydata(page);
            });
        });

        function querydata(page) {
            $.ajax({
                type: 'POST',
                url: '/querytx',
                data: "page=" + page,
                success: function (result) {
                    if (result.Code == 1)
                        render_data("tx_tb", page, result.Data);
                }
            });
        }

        function render_data(containerID, page, data) {
            var count = data.Count;
            var last = count / 20 >= page;
            var pre = "<li " + (page == 1 ? "class='previous disabled'" : "class='previous'") + "><a href='#'>上一页</a></li>";
            var next = "<li " + (last ? "class='next disabled'" : "class='next'") + "><a href='#'>下一页</a></li>"

            $("#txpager").html(pre + next);
            var html = "";

            $(data.Data).each(function (i) {
                var item = data[i];
                html += "<td>" + item.SequenceNo + "</td>" +
                        "<td>" + (item.DoneAt > item.CreateAt ? new Date(item.DoneAt) : new Date(item.CreateAt)).toDateString() + "</td>" +
                        "<td>" + item.Category + "</td>" +
                        "<td>" + item.Income + "</td>" +
                        "<td>" + item.Output + "</td>" +
                        "<td>" + item.Payway + "</td>";
            });

            $("#" + containerID).find("tbody").append(html);
        }
    </script>
    @*<div class="container panel panel-default  tx-records">
            <div class="panel-heading tx-heading">
                <h3 class="panel-title">交易记录</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:180px;">流水号</th>
                            <th style="width:180px;">日期</th>
                            <th style="width:180px;">名称|备注</th>
                            <th style="width:180px;">收入</th>
                            <th style="width:180px;">支出</th>
                            <th style="width:180px;">支付方式</th>
                        </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>
            </div>
        </div>*@
</div>