@{     
    Layout = null;
}
@using DotPay.Web.Admin;
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">已使用的{{title}}</h4>
    </div>
    <div class="panel-body">
        <div class="pull-left">
            <button type="button" class="btn btn-success" ng-click="makeFunds()">充值码标记</button>
        </div>
        <div class="pull-right padding-right100">
            <label>开始时间:</label><input type="text" class="form-control inline-control " ng-model="start_Search" onclick="WdatePicker()" onchange="">
            <label>结束时间:</label><input type="text" class="form-control inline-control " ng-model="end_Search" onclick="WdatePicker()" onchange="">
            <button type="button" class="btn btn-success" ng-click="search()"><span class="glyphicon glyphicon-search"></span>搜索</button>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>创建者ID</th>
                <th>金额</th>
                <th>Code</th>
                <th>Password</th>
                <th>创建时间</th>
                <th>使用时间</th>
                <th>银行账户</th>
                <th>帐单号</th>
                <th>转账金额</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="depositCode in depositCodes">
                <td><input type="checkbox" ng-model="depositCode.Checked" ng-change="checkedChange(depositCode)"></td>
                <td ng-bind="depositCode.ID"></td>
                <td ng-bind="depositCode.CreateBy"></td>
                <td ng-bind="depositCode.Amount"></td>
                <td ng-bind="depositCode.Code"></td>
                <td ng-bind="depositCode.Password"></td>
                <td ng-bind="depositCode.CreateAt*1000 | date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td ng-bind="depositCode.UsedAt*1000 | date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td ng-bind="depositCode.BankAccount"></td>
                <td ng-bind="depositCode.TransferTxNo"></td>
                <td ng-bind="depositCode.FundSourceAmount"></td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="totalCount" page="currentPage" first-text="首页" on-select-page="pageChange(page)" next-text="下一页" previous-text="上一页" last-text="尾页" max-size="10" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    <pre>共{{totalCount}}条数据  第{{currentPage}}页 /共{{numPages}}页</pre>
</div>

<div>
    <script type="text/ng-template" id="GenerateDepositCode.html">
        <div class="modal-header">
            <h3>生成人民币充值码</h3>
        </div>
        <div class="modal-body">
            <form name="GenerateDepositCode" role="form">
                <table class="table-condensed" style="width: 95%">
                    <tr>
                        <td><label>生成金额</label>
                        <td><input type="text" ng-trim="true" class="form-control" required ng-model="amount"></td>
                    </tr>

                </table>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    <button class="btn btn-primary" ng-click="save(amount)">保存</button>
                </div>
            </form>
        </div>
    </script>
</div>

